<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{!-- <h2>This is title: {{title}}</h2>
    <h3>My name is: {{name}}</h3>
    <h4> Description: {{desc}}</h4>
    <h4>{{job}}</h4> --}}
    <form id="form1">
        <input class="input" type="text" id="address" placeholder="Enter your country">
        <button class="button">Find weather</button>
    </form>
    <p id="location"></p>
    <p id="error"></p>
    <p id="longitude"></p>
    <p id="latitude"></p>
    <p id="forecast"></p>
    <p id="pweather">welcome to our website ,To know our countryes weather, longitude and latitude please enter the name your conutry</p>

    {{!-- <img class="imgweather" src={{img}} alt=""> --}}
    <script src="js/script.js"></script>
</body>

</html>